.footer__intro {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.footer__link {
  color: #0024ff;
  text-decoration: none;

  transition: color 1.3s;
  -webkit-transition: color 1.3s;
  -o-transition: color 1.3s;
  -moz-transition: color 1.3s;
}

.footer__link:hover {
  color: red;
}
