@import '../../../../utils/scss-consts/size.scss';
@import '../../../../utils/scss-consts/font-base.scss';
@import '../../../../utils/scss-consts/flex-column.scss';

.user {
  display: flex;
  @include size(180px, 51px);
  background-color: rgba(#dba9dd, 0.76);
  border-radius: 15px;
  margin: 0 auto;
}

.user:hover {
  cursor: pointer;
}

.user__ava {
  @include size(40px, 40px);
  border-radius: 40px;
  object-fit: cover;
  margin: 5px 0 0 5px;
}

.user__right {
  @extend %flex-column;
  justify-content: space-between;
  height: 35px;
  margin: 10px 0 0 10px;
}

.user__text {
  @include font-base(17px, 13px, 500);
  @include size(110px, 25px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
