.profile {
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.profile__title:first-child {
  margin-top: 20px;
}

.profile__top {
  display: flex;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.profile__top-fields {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
}

.profile__but-save {
  display: block;
  width: 300px;
  height: 46px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.profile__but-save:hover {
  cursor: pointer;
}

.profile__but-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
}

.profile__status {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  margin-left: auto;
  margin-right: auto;
  color: red;
  height: 20px;
}

.profile__info {
  background-color: #d1f5e6;
  padding: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.profile__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: rgba(#798fde, 0.66);
  padding: 7px;
  border-radius: 5px;
}
