@import "../../utils/scss-consts/font-base.scss";

.reg__err {
  @include font-base(18px, 13px, 500);
  color: red;
  margin: 10px auto 0 auto;
}

.reg__title {
  @include font-base(22px, 25px, 500);
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
