@import '/src/constants/';

.avatar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.avatar:hover .avatar__overlay {
  opacity: 0.8;
}

.avatar__img {
  @include size(120px, 120px);
  border-radius: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.avatar__overlay {
  @include size(120px, 120px);
  position: absolute;
  border-radius: 100px;
  background: rgba(105, 54, 54, 0.51);
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  margin-left: -20px;
}

.avatar__overlay:hover {
  cursor: pointer;
}

.avatar__edit:hover {
  cursor: pointer;
}

.avatar__edit {
  background: url('../../../../images/edit-img-profile.svg') 100% 100%
    no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include size(26px, 26px);
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  border: 0;
}
