@import '/src/constants/';

.main {
  display: flex;
  width: 400px;
  margin: 20px auto 0 auto;
  justify-content: space-between;
}

.top {
  width: 315px;
}

.name {
  @include font-base(18px, 13px, 500);
  margin: 5px 0 0 0;
}

.input {
  @include font-base(18px, 13px, 500);
  text-align: right;
  border: 0;
  width: 200px;
  background-color: #d1f5e6;
}
