@import '/src/constants/';

.but {
  @include size(400px, 45px);
  margin: 20px auto 0 auto;
  background-color: #ff6838;
  border-radius: 3px;
  @include font-base(18px, 15px, 500);
  text-align: center;
  color: #ffffff;
  padding: 0;
}

.but:hover {
  cursor: pointer;
}

.close {
  background-color: #958884;
}

.close:hover {
  cursor: default;
}
