@import "../../utils/scss-consts/size.scss";
@import "../../utils/scss-consts/font-base.scss";

.reg__but {
  @include size(400px, 45px);
  margin: 20px auto 0 auto;
  background-color: #ff6838;
  border-radius: 3px;
  @include font-base(18px, 15px, 500);
  text-align: center;
  color: #ffffff;
  padding: 0;
}

.reg__but:hover {
  cursor: pointer;
}

.reg__but-close {
  background-color: #958884;
}

.reg__but-close:hover {
  cursor: default;
}
