.field-log-reg {
  display: flex;
  flex-direction: column;
}

.field-log-reg__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 12px;
  color: #A0A0A0;
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
}

.field-log-reg__input {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  width: calc(100% - 85px);
  margin-left: auto;
  margin-right: auto;
  height: 46px;
  background: #F9F9F9;
  border-radius: 8px ;
  border: #F9F9F9;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.field-log-reg__error {
  margin-top: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  height: 16px;
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
}


@media screen and (min-width: 768px) {
  .field-log-reg {
    width: calc(100% - 372px);
    margin-left: auto;
    margin-right: auto;
  }

  .field-log-reg__name {
    margin-left: 0;
  }

  .field-log-reg__input {
    box-sizing: border-box;
    width: 100%;
  }

  .field-log-reg__error {
    margin-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .field-log-reg {
    width: calc(100% - 884px);
  }

  .field-log-reg__input {
    width: 100%;
  }
}
