@import '/src/constants/';

.log {
  @extend %flex-column;
  margin-top: 25px;
}

.log__err {
  @include font-base(22px, 13px, 500);
  color: #f63c3c;
  margin: 10px auto 0 auto;
  text-align: center;
  height: 22px;
}
