.popup {
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 1.666s, 0s;
  transition-delay: 0s, 1.666s;
}

.popup_open {
  visibility: visible;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-delay: 0s, 0s;
}

.popup__container {
  max-width: 430px;
  background-color: #fff;
  padding: 25px 22px 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

.popup__close {
  display: block;
  position: absolute;
  background: url("../../../images/close.svg") 100% 100% no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  right: 4px;
  top: -45px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__title {
  color: black;
  min-width: 238px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 430px;
  height: 100%;
}

.popup__save {
  display: block;
  width: 100%;
  height: 46px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  /*margin-top: 45px;*/
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.popup__save:hover {
  opacity: 0.8;
}
@media screen and (min-width: 780px) {
  .popup__save {
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__input {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 25px;
}
