@import '/src/constants/';

.main {
  @extend %flex-column;
  margin: 20px auto 0 auto;
}

.link {
  @include font-base(18px, 13px, 500);
  text-decoration: none;
  background-color: rgba(#798fde, 0.66);
  padding: 7px;
  border-radius: 5px;
  margin: 0 10px 20px 0;
}

.title {
  margin: 0 auto 10px auto;
}

.footer {
  margin: 0 auto;
}
