@import '/src/constants/';

.main {
  @extend %flex-column;
  @include size(320px, 85px);
  margin: 10px auto;
  background-color: #ebe7b6;
  border-radius: 5px;
}

.link:hover {
  cursor: pointer;
}

.comment {
  width: 500px;
  background-color: rgba(#c1e4d7, 0.6);
}

.top {
  display: flex;
}

.bot {
  display: flex;
}

.ava {
  @include size(40px, 40px);
  border-radius: 40px;
  object-fit: cover;
  margin: 5px 0 0 5px;
}

.head {
  @include font-base(17px, 13px, 500);
  margin: 5px 0 0 30px;
  text-overflow: ellipsis;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline;
}

.time {
  @include font-base(12px, 13px, 300);
  margin: 2px 0 5px 0;
  width: 45px;
  text-align: center;
}

.text {
  @include font-base(17px, 15px, 500);
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  @include size(250px, 46px);
  margin: -15px 0 0 10px;
}

.full_text {
  width: 430px;
  margin: -15px 0 0 10px;
  @include font-base(17px, 15px, 500);
  word-wrap: break-word;
}

.user {
  @include font-base(17px, 15px, 500);
  margin: 10px 0 0 10px;
  text-decoration: underline;
}
