@import "../../../utils/scss-consts/flex-column.scss";
@import "../../../utils/scss-consts/font-base.scss";
@import "../../../utils/scss-consts/size.scss";

.post-form {
  @extend %flex-column;
  width: 400px;
  margin: 0 auto 20px auto;
  background-color: rgba(#10addf, 0.34);
  padding: 20px;
  border-radius: 20px;
}

.post-form__input {
  @include font-base(18px, 13px, 500);
  text-align: left;
}

.post-form__but {
  @include size(300px, 46px);
  background-color: black;
  margin: 20px auto 0 auto;
  padding: 0;
  border: 0;
  border-radius: 10px;
  @include font-base(14px, 17px, 500);
  color: white;
}

.post-form__but:hover {
  cursor: pointer;
}

.post-form__area {
  @include font-base(18px, 18px, 500);
  text-align: left;
  height: 80px;
  margin-top: 20px;
}

.post-form__status {
  @include font-base(18px, 13px, 500);
  margin: 10px auto;
  color: red;
  height: 20px;
}

.post-form__but-close {
  background-color: #A0A0A0;
  color: black;
}
