.post-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(#10addf, 0.58);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.post-form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  text-align: left;
}

.post-form__but {
  width: 300px;
  height: 46px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.post-form__but:hover {
  cursor: pointer;
}

.post-form__area {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  height: 80px;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  margin-top: 20px;
}

.post-form__status {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 13px;
  margin-left: auto;
  margin-right: auto;
  color: red;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
