@import '/src/constants/';

.footer__intro {
  @include font-base(18px, 13px, 500);
  margin: 20px auto 0 auto;
}

.footer__link {
  color: #0024ff;
  text-decoration: none;
  transition: color 1.3s;
  -webkit-transition: color 1.3s;
  -o-transition: color 1.3s;
  -moz-transition: color 1.3s;
}

.footer__link:hover {
  color: red;
}
